.border {
    border: 3px dotted lightseagreen;
    border-radius: 5px;
}

.charactersContainer { 
    width: 80%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin: 2rem auto;
}
.charcterCard{
    width: 180px;
    height: 310px;
    text-align: center;
    color: black;
    border: 4px solid black;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    transition: all 0.3s linear;
    transform: translateY(0);
}
.charcterCard:hover {
    transform: translateY(-10px);
    background-color: rgba(255, 68, 0, 0.148);
}



.charcterCard img {
 width:172px ;
}
.moreInfoPage { 
    margin: 3rem auto;
    width: 350px;
    background-color: white;
    color: black;
    text-align: center;
    border: 3px dotted black;
    border-radius: 5px;
    overflow: hidden;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
/* 
.indexCharacterPage{
    width: 100%;
    height: 100%;
    margin: 0;
} */

.navLinks{
    font: 3rem ;
    font-weight: 800;
    padding-left: 1rem;
}
.navLinks:hover{
text-decoration: underline;
}

.activeLink {
    font-weight: 800;
    padding-left: 1rem;
    color: white;
}
.activeLink:hover{
text-decoration: underline;
}
